.rom{
color: blue;
font-size: 39px;
}
.ram{
    color: brown;
    font-size: 90px;
}
.gam{
color: burlywood;
font-size: 53px;
}
.oba{
color: green;
font-size: 32px;
}
.jum{
    color:fuchsia ;
    font-size: 39px;
}
.obg{


}

.omgh{
    font-size: 67px;
}

    

